
            h1{
                color:black;  
                background:grey;
                
            }
            #first{
                color:black;
                background:grey;
            }
body{
    background:lightblue;
}
#box{
    background:bisque;
    width:700px;
    margin:30px auto;
    padding:20px;
    
}
  