  <style>
            h1{
                color:red;  
                background: yellow;
                
            }
            #first{
                color:hotpink;
                background:red;
            }
            
    </style>